local/
logs/
crash-reports/
coremods/
gtceu/
ldlib/
logs/
saves/
schematics/
screenshots/
server-resource-packs/
texturepacks/
shaderpacks/
data/
resourcepacks/
mods/

usernamecache.json
usercache.json
rhino.local.properties
patchouli_data.json
options.txt
emi.json
.index
malum_extra.json